{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Including Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'peace/static/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/static/profile.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'posts/static/index.css' %}"/>


    <title>{% block title %}{% endblock %} | PoP</title>
    {% block head %}{% endblock %}
</head>
<body>

{% include 'posts/includes/nav.html' %}
{% include 'posts/includes/voting.html' %}

<script>
    $(document).ready(function(){
        {% block jquery %}{% endblock %}
    })
</script>

<div class="container">
{% block body %}
{% endblock %}
</div>
</body>
</html>

{# TODO Checkout Template Tags #}