<script>
    $(document).ready(function(){
        function updateText(likeBtn, countText, newCount, verb){
            countText.text(newCount);
            countText.attr("data-likes", newCount);
            likeBtn.text(verb)
        }

        $(".like-btn").click(function(e){
            e.preventDefault();
            var this_ = $(this);
            var likeUrl = this_.attr("data-href");
            var countText = this_.siblings('span');
            var likeCount = parseInt(countText.attr("data-likes")) | 0;
            var addLike = likeCount + 1;
            var removeLike = likeCount - 1;
            if (likeUrl){
                $.ajax({
                    url: likeUrl,
                    method: "GET",
                    data: {},
                    success: function(data){
{#                        console.log(data);#}
                        if (data.upvote){
                          updateText(this_, countText, addLike, "Unlike")
                        } else {
                          updateText(this_, countText, removeLike, "Like")
                        }
                    }, error: function(error){
                        console.log(error);
                        console.log("error")
                    }
                })
            }
        })
    })
</script>